body {
    font-family: 'Playfair Display', serif;
    background-color: #000000;
}

h1 {
    font-weight: bold;
}

.team-heading {
    background-color: #ffffff;
}
.employee-card {
    margin: 30px;
    width: 2000px;
    box-shadow: 10px 10px;
}

.card-header {
    background-color: #E9FAE3;
}